<section>
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" fxLayoutGap="10px" (submit)="onSubmit()" >
    <mat-form-field>
      <input type="email" name="email" id="email" placeholder="Your Email" formControlName="email" email required matInput #emInput>
      <mat-error *ngIf="email.hasError('required')">E-mail cannot be empty</mat-error>
      <mat-error *ngIf="!email.hasError('required')">Invalid E-mail</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" id="password" placeholder="Your Password" formControlName="password" matInput required minlength="6" #pwInput>
      <mat-hint>{{ password.value?.length > 6 ? 6 : password.value?.length }}/6</mat-hint>
      <mat-error *ngIf="password.hasError('minlength')">Password too short</mat-error>
      <mat-error *ngIf="!password.hasError('minlength')">Password cannot be empty</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Login</button>
  </form>
</section>