<section ngClass.gt-xs="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <form (submit)="onStartTraining(f)" #f="ngForm">
      <mat-card-title fxLayoutAlign="center">
        <h3>Start New Training</h3>
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select placeholder="Choose Excercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{ exercise.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="primary" [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>