mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 200px;
  }

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

/* .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
} */

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}