<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (submit)="onSubmit(f)" >
    <mat-form-field>
      <input type="email" name="email" id="email" placeholder="Your Email" email required ngModel matInput #emInput="ngModel">
      <mat-error *ngIf="emInput.hasError('required')">E-mail cannot be empty</mat-error>
      <mat-error *ngIf="!emInput.hasError('required')">Invalid E-mail</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" id="password" placeholder="Your Password" ngModel matInput required minlength="6" #pwInput="ngModel">
      <mat-hint>{{ pwInput.value?.length > 6 ? 6 : pwInput.value?.length }}/6</mat-hint>
      <mat-error *ngIf="pwInput.hasError('minlength')">Password too short</mat-error>
      <mat-error *ngIf="!pwInput.hasError('minlength')">Password cannot be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input ngModel [matDatepicker]="dob" placeholder="Your Birthdate" name="dob" id="dob" matInput [matDatepicker]="dob" [max]="maxDate" >
      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
      <mat-datepicker #dob></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required>Agree to Terms and Conditions</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" >Signup</button>
  </form>
</section>