<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div><a routerLink="/">Logo</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <mat-nav-list fxLayout>
          <button mat-button *ngIf="!isAuth" routerLink="/signup">Signup</button>
          <button mat-button *ngIf="!isAuth" routerLink="/login">Login</button>
          <button mat-button *ngIf="isAuth" routerLink="/training">Training</button>
          <button mat-button *ngIf="isAuth" (click)="onLogout()" routerLink="/training">Logout</button>
      </mat-nav-list>
  </div>
</mat-toolbar>