<mat-nav-list>
  <a mat-list-item *ngIf="!authState" routerLink="/signup" (click)="onCloseSidenav()" >
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item *ngIf="!authState" routerLink="/login" (click)="onCloseSidenav()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item *ngIf="authState" routerLink="/training" (click)="onCloseSidenav()">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Training</span>
  </a>
  <hr>
  <mat-list-item *ngIf="authState">
      <button mat-icon-button (click)="onLogout()" >
          <mat-icon>cancel</mat-icon>
          <span class="nav-caption">Logout</span>
      </button>
  </mat-list-item>
</mat-nav-list>