<mat-tab-group *ngIf="!ongoingTraining" [(selectedIndex)]="selectedTab">
  <mat-tab label="New Excercise">
    <app-new-training></app-new-training>
  </mat-tab>
  <mat-tab label="Past Excercises">
    <app-past-trainings (change)="changeTab()"></app-past-trainings>
  </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="ongoingTraining"></app-current-training>